#skills {
  .skills__grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 32%);
    place-items: start;
    place-content: start;
    gap: 1vw;

    @for $i from 1 through 3 {
      @for $j from 1 through 3 {
        #skill-card:nth-child(#{(($j - 1) * 3) + $i}) {
          transition: opacity, left, #{$i * 0.3}s ease;
        }
      }
    }

    &:hover > #skill-card > .skill-card__border {
      opacity: 1;
    }
  }
}

@media only screen and (max-width: 900px) {
  #skills {
    .skills__grid {
      grid-template-columns: repeat(2, 49%);
      #skill-card {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  #skills {
    .skills__grid {
      grid-template-columns: 100%;
    }
  }
}
